<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Chatting Room</title>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- SockJS, STOMP -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">
      function axiosInstance() {
        return axios.create({
          baseURL: "http://localhost:8080/SpringWebSocketPrj",
          timeout: 5000,
          headers: {
            "Content-Type": "application/json",
          },
        });
      }
    </script>
</head>

<body>
	<div id="app" class="p-5">
		<h2>{{title}}</h2>
		<div class="content">
			<ul class="chat_box">
				<li v-for="chat in chatList">{{chat}}</li>
			</ul>
			<input type="text" v-model="message" @keyup.enter="sendMessage" />
			<button class="send" @click="sendMessage">send</button>
		</div>
	</div>

	<script type="text/javascript">
      new Vue({
        el: "#app",
        async created() {
          await this.fillRoomData();
          this.createSocket();
        },
        data: {
          title: "",
          client: {},
          room: {},
          user: "",
          message: "",
          chatList: [],
        },
        methods: {
          async fillRoomData() {
            const roomId = new URLSearchParams(location.search).get("room_id");
            const apiResult = await axiosInstance().get(
              `/chat/rooms/${roomId}`
            );
            this.room = apiResult.data.room;
            this.user = apiResult.data.member;
            this.title = `Welcome to ${this.room.name}`;
          },
          createSocket() {
            const sock = new SockJS("/SpringWebSocketPrj/stomp-chat");
            this.client = Stomp.over(sock);
            this.client.connect({}, this.stompConnect);
          },
          stompConnect() {
            this.client.subscribe(
              `/subscribe/chat/room/${this.room.id}`,
              this.stompSubscribe
            );
            this.client.send(
                    "/publish/chat/join",
                    {},
                    JSON.stringify({
                      chatRoomId: this.room.id,
                      writer: this.user,
                    })
            );
          },
          stompSubscribe(chat) {
            const content = JSON.parse(chat.body);
            this.chatList.push(`${content.message}(${content.writer})`);
          },
          sendMessage() {
            this.client.send(
              "/publish/chat/message",
              {},
              JSON.stringify({
                chatRoomId: this.room.id,
                message: this.message,
                writer: this.user,
              })
            );
            this.message = "";
          },
        },
      });
    </script>
</body>
</html>
